@use './breakpoints-variables' as *;
@use './media-queries' as *;

@mixin display-helpers {
  .hidden-xs {
    @media screen and (max-width: ($breakpoint-sm - 1px)) {
      display: none !important;
    }
  }
  
  .hidden-sm {
    @media screen and (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 1px)) {
      display: none !important;
    }
  }
  
  .hidden-sm-up {
    @include mq-sm{
      display: none !important;
    }
  }
  
  .hidden-md {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1px)) {
      display: none !important;
    }
  }
  
  .hidden-md-up {
    @include mq-md{
      display: none !important;
    }
  }
  
  .hidden-lg {
    @media screen and (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 1px)) {
      display: none !important;
    }
  }
  
  .hidden-lg-up {
    @include mq-md{
      display: none !important;
    }
  }
  
  .hidden-xl {
    @media screen and (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 1px)) {
      display: none !important;
    }
  }
  
  .hidden-xl-up {
    @include mq-xl{
      display: none !important;
    }
  }
  
  .hidden-xxl {
    @media screen and (min-width: $breakpoint-xxl) {
      display: none !important;
    }
  }
  
}